argcomplete==3.4.0
astroid==3.0.3
attrs==23.2.0
black==24.4.2
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==2.0.12
click==8.1.7
coverage==7.5.4
cryptography==36.0.2
decopatch==1.4.10
dill==0.3.8
dxpy==0.378.0
exceptiongroup==1.2.1
flake8==6.1.0
graphviz==0.20.3
idna==3.7
iniconfig==2.0.0
isort==5.13.2
Jinja2==3.1.4
makefun==1.15.3
MarkupSafe==2.1.5
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
psutil==6.0.0
pycodestyle==2.11.1
pycparser==2.22
pyflakes==3.1.0
pygit2==1.12.2
pylint==3.0.3
pytest==7.2.1
pytest-cases==3.6.14
pytest-cov==4.1.0
pytest-lazy-fixture==0.6.3
python-dateutil==2.9.0.post0
requests==2.27.1
git+https://github.com/moka-guys/samplesheet_validator@v1.3.0
git+https://github.com/moka-guys/seglh-naming@v1.0.4
six==1.16.0
tomli==2.0.1
tomlkit==0.12.5
typing_extensions==4.12.2
websocket-client==1.7.0
urllib3==1.26.15